// 这里我们使用@media媒介查询来来对不同的dpr进行缩放
// 刚才我们在app.vue里面的一个元素上添加了一个border-1px的类名，下面我们就通过这个类名选中该元素，然后对他的伪元素进行缩放，然后这样就实现了真正意义上的1px
.body, html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PinfFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

.clearfix {
  display: inline-block;

  &:after {
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaley(0.7);
      transform: scaley(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaley(0.5);
      transform: scaley(0.5);
    }
  }
}